doctype
html
	head
		title 漢字メーカー
		link(rel='stylesheet', href='font/NotoSansBoldSubsetted/styles.css')
		link(rel='stylesheet', href='index.css')
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='index.js')
	body
		h1 漢字メーカー <small>beta</small>
		.generated-kanjies
		ul.kanji-parts
			- var i = 0
			while i < 10
				li.kanji-part
				- i++
		.go go
